USE [master]
GO
/****** Object:  Database [EARTH02]    Script Date: 2017/09/07 21:22:54 ******/
CREATE DATABASE [EARTH02]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EARTH02', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\EARTH02.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EARTH02_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\EARTH02_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EARTH02].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EARTH02]
GO
USE [EARTH02]
GO
/****** Object:  Table [dbo].[CTL_LOGIN]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTL_LOGIN](
	[SESSIONID] [nvarchar](127) NOT NULL,
	[USERID] [nvarchar](255) NOT NULL,
	[LOGINTIME] [nvarchar](17) NULL,
	[LOGOUTTIME] [nvarchar](17) NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[SESSIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTL_MENU]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTL_MENU](
	[FUNCTIONID] [nvarchar](127) NOT NULL,
	[USERID] [nvarchar](127) NOT NULL,
	[ACCESSAUTHORITY] [int] NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[FUNCTIONID] ASC,
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_CUSTOM_TASK]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_CUSTOM_TASK](
	[CUSTOMTASKID] [nvarchar](20) NOT NULL,
	[CUSTOMTASKNAME] [nvarchar](255) NULL,
	[CUSTOMTASKTYPE] [nvarchar](5) NULL,
	[CLASSNAME] [nvarchar](255) NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMTASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_DIRECTORY]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_DIRECTORY](
	[DATADIRECTORYID] [int] NOT NULL,
	[FOLDERPATH] [nvarchar](260) NULL,
	[NEWCREATEFILE] [nchar](1) NULL,
	[RESERVEDDISKVOLSIZE] [nvarchar](255) NULL,
	[DISKVOLSIZE] [nvarchar](255) NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[DATADIRECTORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_EVENTID]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_EVENTID](
	[ISSUEDATE] [nvarchar](8) NOT NULL,
	[COUNT] [int] NOT NULL,
	[INCREMENTDATETIME] [nvarchar](17) NOT NULL,
	[SESSIONID] [nvarchar](255) NOT NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[ISSUEDATE] ASC,
	[COUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_INCREMENT]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_INCREMENT](
	[INCREMENTTYPE] [nvarchar](20) NOT NULL,
	[INCREMENTDATA] [int] NOT NULL,
	[INCREMENTDATETIME] [nvarchar](17) NOT NULL,
	[SESSIONID] [nvarchar](255) NOT NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[INCREMENTTYPE] ASC,
	[INCREMENTDATA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_MENU]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_MENU](
	[FUNCTIONID] [nvarchar](127) NOT NULL,
	[FUNCTIONNAME] [nvarchar](255) NULL,
	[FUNCTIONCATEGORYID] [nvarchar](255) NOT NULL,
	[FUNCTIONSORTNO] [int] NULL,
	[FUNCTIONINFORMATION] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[FUNCTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_MENU_P]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_MENU_P](
	[FUNCTIONID] [nvarchar](127) NOT NULL,
	[PROFILEID] [nvarchar](127) NOT NULL,
	[ACCESSAUTHORITY] [int] NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[FUNCTIONID] ASC,
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_MENU_U]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_MENU_U](
	[FUNCTIONID] [nvarchar](127) NOT NULL,
	[USERID] [nvarchar](127) NOT NULL,
	[ACCESSAUTHORITY] [int] NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[FUNCTIONID] ASC,
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_MENUCATEGORY]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_MENUCATEGORY](
	[FUNCTIONCATEGORYID] [nvarchar](127) NOT NULL,
	[FUNCTIONCATEGORYNAME] [nvarchar](255) NULL,
	[FUNCTIONSORTNO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FUNCTIONCATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_PROCESS_SERVICE]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_PROCESS_SERVICE](
	[PROCESSISERVICEID] [int] NOT NULL,
	[WORKSPACEID] [int] NULL,
	[PROCESSISERVICENAME] [nvarchar](255) NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROCESSISERVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_PROFILE]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_PROFILE](
	[PROFILEID] [nvarchar](127) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[LDAPIDENTIFIER] [nvarchar](1000) NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_SITE]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_SITE](
	[SITEID] [int] NOT NULL,
	[DATADIRECTORYID] [int] NOT NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[SITEID] ASC,
	[DATADIRECTORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_USER]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_USER](
	[USERID] [nvarchar](127) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[PASSWD] [nvarchar](515) NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_USER_PROFILE]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_USER_PROFILE](
	[PROFILEID] [nvarchar](127) NOT NULL,
	[USERID] [nvarchar](127) NOT NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROFILEID] ASC,
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_WORKITEMID]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_WORKITEMID](
	[ISSUEDATE] [nvarchar](8) NOT NULL,
	[COUNT] [int] NOT NULL,
	[INCREMENTDATETIME] [nvarchar](17) NOT NULL,
	[SESSIONID] [nvarchar](255) NOT NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[ISSUEDATE] ASC,
	[COUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_WORKSPACE]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_WORKSPACE](
	[WORKSPACEID] [int] NOT NULL,
	[WORKSPACENAME] [nvarchar](255) NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[WORKSPACEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MGR_WORKSPACE_CONNECT]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MGR_WORKSPACE_CONNECT](
	[WORKSPACEID] [int] NOT NULL,
	[DBSERVER] [nvarchar](255) NULL,
	[SCHEMANAME] [nvarchar](255) NULL,
	[PORT] [int] NULL,
	[DBUSER] [nvarchar](255) NULL,
	[DBPASSWORD] [nvarchar](515) NULL,
	[OWNER] [nvarchar](255) NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[WORKSPACEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_CALENDAR]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_CALENDAR](
	[BUSINESSDAY] [nvarchar](8) NOT NULL,
	[BUSINESSDAYFLAG] [nchar](1) NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[BUSINESSDAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_CODE]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_CODE](
	[CODEID] [nvarchar](20) NOT NULL,
	[CODEVALUE] [nvarchar](255) NOT NULL,
	[SECTION] [nvarchar](20) NOT NULL,
	[SECTIONVALUE] [nvarchar](255) NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODEID] ASC,
	[SECTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_SYSTEM]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_SYSTEM](
	[SECTION] [nvarchar](127) NOT NULL,
	[VARIABLENAME] [nvarchar](127) NOT NULL,
	[CONFIGVALUE] [nvarchar](255) NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL,
PRIMARY KEY CLUSTERED 
(
	[SECTION] ASC,
	[VARIABLENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STR_CAL]    Script Date: 2017/09/07 21:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STR_CAL](
	[PROCESSTIME] [nvarchar](17) NULL,
	[DIVISION] [nvarchar](20) NULL,
	[PROFILEID] [nvarchar](255) NULL,
	[AVAILABLELICENSECOUNT] [int] NULL,
	[USELICENSECOUNT] [int] NULL,
	[LASTUPDATETIME] [nvarchar](17) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[CTL_LOGIN] ([SESSIONID], [USERID], [LOGINTIME], [LOGOUTTIME], [LASTUPDATETIME]) VALUES (N'QjIwMTcwODMxMTE1NTI1MzA0MTcyMDIwMTA4MDYxRWFydGggICAgICAgICAgICAgICAgICAgICAgICAgMQ==', N'Earth', N'20170831115525308', N'20170831121029523', N'20170831115525312')
INSERT [dbo].[CTL_LOGIN] ([SESSIONID], [USERID], [LOGINTIME], [LOGOUTTIME], [LASTUPDATETIME]) VALUES (N'QjIwMTcwODMxMTExMjM1ODgyMTcyMDIwMTA4MDYxRWFydGggICAgICAgICAgICAgICAgICAgICAgICAgMQ==', N'Earth', N'20170831111235886', N'20170831111728848', N'20170831111235891')
INSERT [dbo].[CTL_LOGIN] ([SESSIONID], [USERID], [LOGINTIME], [LOGOUTTIME], [LASTUPDATETIME]) VALUES (N'QjIwMTcwODMxMTExODMwMjM4MTcyMDIwMTA4MDYxRWFydGggICAgICAgICAgICAgICAgICAgICAgICAgMQ==', N'Earth', N'20170831111830242', N'20170831111906170', N'20170831111830251')
GO
INSERT [dbo].[CTL_MENU] ([FUNCTIONID], [USERID], [ACCESSAUTHORITY], [LASTUPDATETIME]) VALUES (N'1', N'Earth', 3, N'20170907192708948')
INSERT [dbo].[CTL_MENU] ([FUNCTIONID], [USERID], [ACCESSAUTHORITY], [LASTUPDATETIME]) VALUES (N'1', N'OgawaUser', 3, N'20170907192708948')
INSERT [dbo].[CTL_MENU] ([FUNCTIONID], [USERID], [ACCESSAUTHORITY], [LASTUPDATETIME]) VALUES (N'10', N'Earth', 1, N'20170907203710209')
INSERT [dbo].[MGR_CUSTOM_TASK] ([CUSTOMTASKID], [CUSTOMTASKNAME], [CUSTOMTASKTYPE], [CLASSNAME], [LASTUPDATETIME]) VALUES (N'1', N'OperationDate', N'1', N'co.jp.nej.earth.processservice.OperationDateProcessService', N'20170622000000999')
INSERT [dbo].[MGR_CUSTOM_TASK] ([CUSTOMTASKID], [CUSTOMTASKNAME], [CUSTOMTASKTYPE], [CLASSNAME], [LASTUPDATETIME]) VALUES (N'2', N'ThemeScan', N'1', N'co.jp.nej.earth.processservice.ThemeScanProcessService', N'20170622000000999')
INSERT [dbo].[MGR_EVENTID] ([ISSUEDATE], [COUNT], [INCREMENTDATETIME], [SESSIONID], [LASTUPDATETIME]) VALUES (N'20170831', 1, N'20170831115527245', N' ', N'20170831115527245')
INSERT [dbo].[MGR_EVENTID] ([ISSUEDATE], [COUNT], [INCREMENTDATETIME], [SESSIONID], [LASTUPDATETIME]) VALUES (N'20170901', 1, N'20170901104206167', N'34C70C0923FA79C2180EAB89418C3D86', N'20170901104206167')
INSERT [dbo].[MGR_EVENTID] ([ISSUEDATE], [COUNT], [INCREMENTDATETIME], [SESSIONID], [LASTUPDATETIME]) VALUES (N'20170901', 2, N'20170901104647208', N'AC677A6CCF0F70DC4DB780C48BBF8365', N'20170901104647208')
INSERT [dbo].[MGR_INCREMENT] ([INCREMENTTYPE], [INCREMENTDATA], [INCREMENTDATETIME], [SESSIONID], [LASTUPDATETIME]) VALUES (N'TEMPLATE', 1, N'20170906093948861', N'9E1620C202D905EF70B7348F9B753BDC', N'20170906093948861')
INSERT [dbo].[MGR_INCREMENT] ([INCREMENTTYPE], [INCREMENTDATA], [INCREMENTDATETIME], [SESSIONID], [LASTUPDATETIME]) VALUES (N'TEMPLATE', 2, N'20170906094409889', N'9E1620C202D905EF70B7348F9B753BDC', N'20170906094409889')
INSERT [dbo].[MGR_INCREMENT] ([INCREMENTTYPE], [INCREMENTDATA], [INCREMENTDATETIME], [SESSIONID], [LASTUPDATETIME]) VALUES (N'TEMPLATE', 3, N'20170906094732884', N'9E1620C202D905EF70B7348F9B753BDC', N'20170906094732884')
INSERT [dbo].[MGR_MENU] ([FUNCTIONID], [FUNCTIONNAME], [FUNCTIONCATEGORYID], [FUNCTIONSORTNO], [FUNCTIONINFORMATION]) VALUES (N'1', N'ユーザー一覧', N'1', 1, N'{"linkType":"1","url":"user","cssClass":"user"}')
INSERT [dbo].[MGR_MENU] ([FUNCTIONID], [FUNCTIONNAME], [FUNCTIONCATEGORYID], [FUNCTIONSORTNO], [FUNCTIONINFORMATION]) VALUES (N'10', N'スケジュール一覧', N'4', 10, N'{"linkType":"1","url":"schedule","cssClass":"process"}')
INSERT [dbo].[MGR_MENU] ([FUNCTIONID], [FUNCTIONNAME], [FUNCTIONCATEGORYID], [FUNCTIONSORTNO], [FUNCTIONINFORMATION]) VALUES (N'11', N'プロセス一覧', N'4', 11, N'{"linkType":"1","url":"process","cssClass":"process"}')
INSERT [dbo].[MGR_MENU_P] ([FUNCTIONID], [PROFILEID], [ACCESSAUTHORITY], [LASTUPDATETIME]) VALUES (N'1', N'UserRoleProfile', 3, N'20170907192708923')
INSERT [dbo].[MGR_MENU_P] ([FUNCTIONID], [PROFILEID], [ACCESSAUTHORITY], [LASTUPDATETIME]) VALUES (N'10', N'ProcessRoleProfile', 3, N'20170907203710203')
INSERT [dbo].[MGR_MENU_P] ([FUNCTIONID], [PROFILEID], [ACCESSAUTHORITY], [LASTUPDATETIME]) VALUES (N'11', N'ProcessRoleProfile', 3, N'20170907203724153')
INSERT [dbo].[MGR_MENU_U] ([FUNCTIONID], [USERID], [ACCESSAUTHORITY], [LASTUPDATETIME]) VALUES (N'1', N'Earth', 3, N'20170907192708914')
INSERT [dbo].[MGR_MENU_U] ([FUNCTIONID], [USERID], [ACCESSAUTHORITY], [LASTUPDATETIME]) VALUES (N'1', N'OgawaUser', 3, N'20170907192708916')
INSERT [dbo].[MGR_MENU_U] ([FUNCTIONID], [USERID], [ACCESSAUTHORITY], [LASTUPDATETIME]) VALUES (N'10', N'Earth', 1, N'20170907203710199')
INSERT [dbo].[MGR_MENUCATEGORY] ([FUNCTIONCATEGORYID], [FUNCTIONCATEGORYNAME], [FUNCTIONSORTNO]) VALUES (N'1', N'ユーザー', 1)
INSERT [dbo].[MGR_MENUCATEGORY] ([FUNCTIONCATEGORYID], [FUNCTIONCATEGORYNAME], [FUNCTIONSORTNO]) VALUES (N'2', N'レポート', 2)
INSERT [dbo].[MGR_MENUCATEGORY] ([FUNCTIONCATEGORYID], [FUNCTIONCATEGORYNAME], [FUNCTIONSORTNO]) VALUES (N'3', N'権限', 3)
INSERT [dbo].[MGR_PROCESS_SERVICE] ([PROCESSISERVICEID], [WORKSPACEID], [PROCESSISERVICENAME], [LASTUPDATETIME]) VALUES (1, 1, N'EarthAgentBatch1', N'20170829201835999')
INSERT [dbo].[MGR_PROCESS_SERVICE] ([PROCESSISERVICEID], [WORKSPACEID], [PROCESSISERVICENAME], [LASTUPDATETIME]) VALUES (2, 1, N'EarthAgentBatch2', N'20170829201835999')
INSERT [dbo].[MGR_PROCESS_SERVICE] ([PROCESSISERVICEID], [WORKSPACEID], [PROCESSISERVICENAME], [LASTUPDATETIME]) VALUES (3, 1, N'EarthAgentBatch3', N'20170829201835999')
INSERT [dbo].[MGR_PROFILE] ([PROFILEID], [DESCRIPTION], [LDAPIDENTIFIER], [LASTUPDATETIME]) VALUES (N'DeleteProfile', N'削除用管理者', N'', N'20170907171830144')
INSERT [dbo].[MGR_PROFILE] ([PROFILEID], [DESCRIPTION], [LDAPIDENTIFIER], [LASTUPDATETIME]) VALUES (N'EditRoleProfile', N'データ編集管理者', N'', N'20170907171638400')
INSERT [dbo].[MGR_PROFILE] ([PROFILEID], [DESCRIPTION], [LDAPIDENTIFIER], [LASTUPDATETIME]) VALUES (N'ProcessRoleProfile', N'ワークフロー管理者', N'', N'20170907171345567')
INSERT [dbo].[MGR_USER] ([USERID], [NAME], [PASSWD], [LASTUPDATETIME]) VALUES (N'Earth', N'アース', N'HSLj0y3T5j2Jsu0XVrrX8Q==', N'20170725121215970')
INSERT [dbo].[MGR_USER] ([USERID], [NAME], [PASSWD], [LASTUPDATETIME]) VALUES (N'OgawaChange', N'アレックス小川', N'GMueTjmJW0PE1mMqFc0DwA==', N'20170907170442881')
INSERT [dbo].[MGR_USER] ([USERID], [NAME], [PASSWD], [LASTUPDATETIME]) VALUES (N'OgawaDelete', N'小川（ユーザ情報削除用）', N'2uyV1OC56SMcbPrYhCVL+A==', N'20170907163510942')
INSERT [dbo].[MGR_WORKITEMID] ([ISSUEDATE], [COUNT], [INCREMENTDATETIME], [SESSIONID], [LASTUPDATETIME]) VALUES (N'20170831', 1, N'20170831115528065', N' ', N'20170831115528066')
INSERT [dbo].[MGR_WORKSPACE] ([WORKSPACEID], [WORKSPACENAME], [LASTUPDATETIME]) VALUES (1, N'１つ目のワークスペース', N'20170830132556305')
INSERT [dbo].[MGR_WORKSPACE] ([WORKSPACEID], [WORKSPACENAME], [LASTUPDATETIME]) VALUES (2, N'２つ目のワークスペース', N'20170906190623444')
INSERT [dbo].[MGR_WORKSPACE_CONNECT] ([WORKSPACEID], [DBSERVER], [SCHEMANAME], [PORT], [DBUSER], [DBPASSWORD], [OWNER], [LASTUPDATETIME]) VALUES (-1, N'172.20.108.60', N'EARTH02', 1433, N'sa', N'ilVAR2FwHAoVX33+HiTkPA==', N'dbo', N'20170630160158999')
INSERT [dbo].[MGR_WORKSPACE_CONNECT] ([WORKSPACEID], [DBSERVER], [SCHEMANAME], [PORT], [DBUSER], [DBPASSWORD], [OWNER], [LASTUPDATETIME]) VALUES (1, N'172.20.108.60', N'EarthWorkSpace01', 1433, N'earth01', N'JPl5cOSj1YoPoHJfv+izz6P9diLu9UPse8bSMUZNqwM=', N'owner', N'20170830132556305')
INSERT [dbo].[MGR_WORKSPACE_CONNECT] ([WORKSPACEID], [DBSERVER], [SCHEMANAME], [PORT], [DBUSER], [DBPASSWORD], [OWNER], [LASTUPDATETIME]) VALUES (2, N'172.20.108.60', N'EarthWorkSpace02', 1433, N'earth123', N'qhIZIhqRsvFXWcAvgVWdCKP9diLu9UPse8bSMUZNqwM=', N'owner', N'20170906190623444')
INSERT [dbo].[MST_CODE] ([CODEID], [CODEVALUE], [SECTION], [SECTIONVALUE], [LASTUPDATETIME]) VALUES (N'1', N'システム全体', N'CD0001', N'DIVISION', N'20170817161729960')
INSERT [dbo].[MST_CODE] ([CODEID], [CODEVALUE], [SECTION], [SECTIONVALUE], [LASTUPDATETIME]) VALUES (N'1', N'オープン', N'CD0002', N'STATUS_EVENT', N'20170817161729960')
INSERT [dbo].[MST_CODE] ([CODEID], [CODEVALUE], [SECTION], [SECTIONVALUE], [LASTUPDATETIME]) VALUES (N'1', N'プロセス', N'CD0003', N'TEMPLATE_TYPE', N'20170817161729960')
INSERT [dbo].[MST_SYSTEM] ([SECTION], [VARIABLENAME], [CONFIGVALUE], [LASTUPDATETIME]) VALUES (N'AVAILABLELICENCECOUNT', N'entire_profile', N'100', N'20170817161729960')
INSERT [dbo].[MST_SYSTEM] ([SECTION], [VARIABLENAME], [CONFIGVALUE], [LASTUPDATETIME]) VALUES (N'AVAILABLELICENCECOUNT', N'entire_system', N'1000', N'20170817161729960')
INSERT [dbo].[MST_SYSTEM] ([SECTION], [VARIABLENAME], [CONFIGVALUE], [LASTUPDATETIME]) VALUES (N'AVAILABLELICENCECOUNT', N'ProfileList02', N'200', N'20170817161729960')
INSERT [dbo].[STR_CAL] ([PROCESSTIME], [DIVISION], [PROFILEID], [AVAILABLELICENSECOUNT], [USELICENSECOUNT], [LASTUPDATETIME]) VALUES (N'20170831132930739', N'1', NULL, 1000, 1, N'20170831132930739')
INSERT [dbo].[STR_CAL] ([PROCESSTIME], [DIVISION], [PROFILEID], [AVAILABLELICENSECOUNT], [USELICENSECOUNT], [LASTUPDATETIME]) VALUES (N'20170831133614647', N'1', NULL, 1000, 1, N'20170831133614647')
INSERT [dbo].[STR_CAL] ([PROCESSTIME], [DIVISION], [PROFILEID], [AVAILABLELICENSECOUNT], [USELICENSECOUNT], [LASTUPDATETIME]) VALUES (N'20170831133638643', N'1', NULL, 1000, 1, N'20170831133638643')
GO
USE [master]
GO
